.main {
  max-width: 960px;
  align-items: center;
  margin: 1em auto 1em auto;
}

.app-section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
  margin: 0 1em 0 1em;
  background-color: lightgray;
  border-radius: 3px;
  box-shadow: 5px 10px 15px 1px grey;
}

select, table {
  font-size: 20px;
}

.search {
  background-color: white;
  width: 100%;
  border-radius: 5px;
}

.iso-hint {
  max-height: 5em;
  overflow: scroll;
}

table {
  width: 100%;
  border: none; 
  border-collapse: collapse;
  background-color: white;
}

.testClass {
  max-height: 13em;
  overflow-y: scroll;
  /* border: 1px solid grey; */
  border-radius: 2px;
}

select {
  padding: 0.5em;
  width: 100%;
}

tr, th, td {
  border: 1px solid grey;
  border-left: none;
}

tr, td {
  border-right: none;
}

th, td {
  padding: 0.5em;
}

tr:nth-child(1), tr:nth-child(1) > td {
  border-top: none;
}

td:nth-child(2) {
  word-break: break-all;
  border-left: 1px solid grey;
}

tr:last-child, tr:last-child td {
  border-bottom: none;
}

.testClass::-webkit-scrollbar {
  width: 1em;            /* width of the entire scrollbar */
  outline: 1px solid grey;
}

.testClass::-webkit-scrollbar-track {
  background: lightgray;      /* color of the tracking area */
}

.testClass::-webkit-scrollbar-thumb {
  background-color: grey;  /* color of the scroll thumb */
  border-radius: 1px;      /* roundness of the scroll thumb */
}

